In [2]:
import pandas as pd

In [5]:
year_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
year_2000.head()

   imdb_id
0        0

In [6]:
year_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
year_2001.head()

   imdb_id
0        0