In [12]:
import pandas as pd
import numpy as np

In [17]:
#basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [4]:
#akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [5]:
#ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [32]:
#basics = pd.read_csv(basics_url,sep='\t', low_memory=False)

In [9]:
#akas = pd.read_csv(akas_url, sep = '\t', low_memory=False)

In [10]:
#ratings = pd.read_csv(ratings_url, sep = '\t', low_memory=False)

In [33]:
basics = basics.replace({'\\N':np.nan})

In [14]:
akas = akas.replace({'\\N':np.nan})

In [15]:
ratings = ratings.replace({'\\N':np.nan})

In [34]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [38]:
basics = basics.dropna(subset = ['runtimeMinutes'])

In [39]:
basics = basics.dropna(subset = ['genres'])

In [40]:
basics = basics.loc[basics['titleType'] == 'movie', :]

In [50]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"

In [52]:
basics = basics.loc[(basics['startYear'] >= '2000') & (basics['startYear'] <= '2022')]

In [56]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [57]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [58]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [59]:
akas = akas.loc[akas['region'] == 'US', :]

In [60]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [61]:
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34805       True
61119       True
67672       True
77968      False
86806       True
           ...
9028108     True
9028117     True
9028156    False
9028201     True
9028285    False
Name: tconst, Length: 140364, dtype: bool

In [62]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...,...
9027572,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9027968,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9028108,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9028117,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,90,"Action,Adventure,Thriller"
9028201,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [63]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81528 entries, 34805 to 9028201
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81528 non-null  object
 1   titleType       81528 non-null  object
 2   primaryTitle    81528 non-null  object
 3   originalTitle   81528 non-null  object
 4   isAdult         81528 non-null  object
 5   startYear       81528 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  81528 non-null  object
 8   genres          81528 non-null  object
dtypes: object(9)
memory usage: 6.2+ MB

In [64]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1330855 entries, 5 to 32441083
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1330855 non-null  object
 1   ordering         1330855 non-null  int64
 2   title            1330855 non-null  object
 3   region           1330855 non-null  object
 4   language         3607 non-null     object
 5   types            1026298 non-null  object
 6   attributes       44240 non-null    object
 7   isOriginalTitle  1329480 non-null  object
dtypes: int64(1), object(7)
memory usage: 91.4+ MB

In [65]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250670 entries, 0 to 1250669
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1250670 non-null  object
 1   averageRating  1250670 non-null  float64
 2   numVotes       1250670 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.6+ MB

In [66]:
import os

In [67]:
os.makedirs('Data/', exist_ok = True)

In [68]:
os.listdir("Data/")

[]

In [69]:
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [70]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [71]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [72]:
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [73]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [74]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1892
1  tt0000002            5.9       252
2  tt0000003            6.5      1686
3  tt0000004            5.7       165
4  tt0000005            6.2      2501