In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [5]:
basics = pd.read_csv(basics_url,sep='\t', low_memory=False)

In [6]:
akas = pd.read_csv(akas_url, sep = '\t', low_memory=False)

In [7]:
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory=False)

In [8]:
basics = basics.replace({'\\N':np.nan})

In [9]:
akas = akas.replace({'\\N':np.nan})

In [10]:
ratings = ratings.replace({'\\N':np.nan})

In [11]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [12]:
basics = basics.dropna(subset = ['runtimeMinutes'])

In [13]:
basics = basics.dropna(subset = ['genres'])

In [14]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2372876 entries, 0 to 9060678
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 181.0+ MB

In [17]:
basics = basics.drop('endYear', axis=1)

In [18]:
basics = basics.loc[basics['titleType'] == 'movie', :]

In [19]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,58,"Adventure,Drama"
1273,tt0001285,movie,The Life of Moses,The Life of Moses,0,1909,50,"Biography,Drama,Family"

In [20]:
basics = basics.loc[(basics['startYear'] >= '2000') & (basics['startYear'] <= '2022')]

In [21]:
is_documentary = basics['genres'].str.contains('documentary', case = False)
basics = basics[~is_documentary]

In [22]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
77968,tt0079644,movie,November 1828,November 1828,0,2001,140,"Drama,War"
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"

In [23]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0

In [25]:
akas = akas.drop('language', axis=1)

In [26]:
akas = akas.drop('attributes', axis=1)

In [28]:
akas = akas.loc[akas['region'] == 'US', :]

In [29]:
akas.head()

,titleId,ordering,title,region,types,isOriginalTitle
5,tt0000001,6,Carmencita,US,imdbDisplay,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,0
33,tt0000005,10,Blacksmith Scene,US,imdbDisplay,0
36,tt0000005,1,Blacksmithing Scene,US,alternative,0
41,tt0000005,6,Blacksmith Scene #1,US,alternative,0

In [30]:
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34805       True
61119       True
67672       True
77968      False
86806       True
           ...
9060351     True
9060360     True
9060399    False
9060444     True
9060528    False
Name: tconst, Length: 140807, dtype: bool

In [31]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
34805,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
61119,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
67672,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
86806,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
91077,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,74,"Horror,Music,Thriller"
...,...,...,...,...,...,...,...,...
9059815,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,74,Drama
9060211,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,97,"Comedy,Drama,Fantasy"
9060351,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,51,Drama
9060360,tt9916190,movie,Safeguard,Safeguard,0,2020,90,"Action,Adventure,Thriller"
9060444,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History"

In [32]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81690 entries, 34805 to 9060444
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81690 non-null  object
 1   titleType       81690 non-null  object
 2   primaryTitle    81690 non-null  object
 3   originalTitle   81690 non-null  object
 4   isAdult         81690 non-null  object
 5   startYear       81690 non-null  object
 6   runtimeMinutes  81690 non-null  object
 7   genres          81690 non-null  object
dtypes: object(8)
memory usage: 5.6+ MB

In [33]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334104 entries, 5 to 32571248
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1334104 non-null  object
 1   ordering         1334104 non-null  int64
 2   title            1334104 non-null  object
 3   region           1334104 non-null  object
 4   types            1026581 non-null  object
 5   isOriginalTitle  1332729 non-null  object
dtypes: int64(1), object(5)
memory usage: 71.2+ MB

In [34]:
akas.dropna(subset = ['isOriginalTitle'], inplace = True)

In [39]:
akas['types'].fillna('imdbDisplay', inplace = True)

In [40]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1332729 entries, 5 to 32571248
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1332729 non-null  object
 1   ordering         1332729 non-null  int64
 2   title            1332729 non-null  object
 3   region           1332729 non-null  object
 4   types            1332729 non-null  object
 5   isOriginalTitle  1332729 non-null  object
dtypes: int64(1), object(5)
memory usage: 71.2+ MB

In [41]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253895 entries, 0 to 1253894
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1253895 non-null  object
 1   averageRating  1253895 non-null  float64
 2   numVotes       1253895 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ MB

In [42]:
import os

In [43]:
os.makedirs('Data/', exist_ok = True)

In [44]:
os.listdir('Data/')

['.DS_Store',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv',
 'title_ratings.csv.gz']

In [45]:
basics.to_csv('Data/title_basics.csv.gz', compression = 'gzip', index = False)

In [46]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,74,"Horror,Music,Thriller"

In [47]:
akas.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [48]:
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
akas.head()

,titleId,ordering,title,region,types,isOriginalTitle
0,tt0000001,6,Carmencita,US,imdbDisplay,0
1,tt0000002,7,The Clown and His Dogs,US,imdbDisplay,0
2,tt0000005,10,Blacksmith Scene,US,imdbDisplay,0
3,tt0000005,1,Blacksmithing Scene,US,alternative,0
4,tt0000005,6,Blacksmith Scene #1,US,alternative,0

In [49]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [50]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1893
1  tt0000002            5.9       253
2  tt0000003            6.5      1688
3  tt0000004            5.7       166
4  tt0000005            6.2      2504

In [51]:
YEARS_TO_GET = [2000, 2001]

In [52]:
import json
with open('/Users/rijavoloder/.secret/tmbd_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [53]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [54]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.DS_Store',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv',
 'title_ratings.csv.gz']

In [55]:
def get_movie_with_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()
    for c in releases['countries']:
        if c['iso_3166_1'] == 'US':
            movie_info['certification'] = c['certification']
    return movie_info

In [56]:
from tqdm.notebook import tqdm_notebook
import time

In [57]:
for YEAR in tqdm_notebook(YEARS_TO_GET,desc='YEARS',position=0):
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    basics = pd.read_csv('Data/title_basics.csv.gz')
    df = basics.loc[ basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()
    previous_df = pd.read_json(JSON_FILE)
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    def write_json(new_data, filename): 
        with open(filename,'r+') as file:
            file_data = json.load(file)
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        file.seek(0)
        json.dump(file_data, file)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

In [58]:
for movie_id in tqdm_notebook(movie_ids_to_get,
                                desc=f'Movies from {YEAR}',
                                position=1,
                                leave=True):
    try:
        temp = get_movie_with_rating(movie_id)
        write_json(temp,JSON_FILE)
        time.sleep(0.02)
    except Exception as e:
        continue

Movies from 2001:   0%|          | 0/1525 [00:00<?, ?it/s]

In [59]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [60]:
YEARS_TO_GET_2000 = [2000]

In [61]:
for YEAR in tqdm_notebook(YEARS_TO_GET_2000,desc='YEARS',position=0):
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    file_exists = os.path.isfile(JSON_FILE)
    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)
    basics = pd.read_csv('Data/title_basics.csv.gz')
    df = basics.loc[ basics['startYear']==YEAR].copy()
    movie_ids = df['tconst'].copy()
    previous_df = pd.read_json(JSON_FILE)
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    def write_json(new_data, filename): 
        with open(filename,'r+') as file:
            file_data = json.load(file)
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        file.seek(0)
        json.dump(file_data, file)

YEARS:   0%|          | 0/1 [00:00<?, ?it/s]

In [62]:
for movie_id in tqdm_notebook(movie_ids_to_get,
                                desc=f'Movies from {YEAR}',
                                position=1,
                                leave=True):
    try:
        temp = get_movie_with_rating(movie_id)
        write_json(temp,JSON_FILE)
        time.sleep(0.02)
    except Exception as e:
        continue

Movies from 2000:   0%|          | 0/1408 [00:00<?, ?it/s]

In [63]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)